/* Write your global styles here, in PostCSS syntax */
html, body, #app { @apply h-full; }

body {
	background-image: url('/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.gradient-heading {
	@apply bg-clip-text text-transparent box-decoration-clone;
	/* Direction */
	@apply bg-gradient-to-br;
	/* Color Stops */
	@apply from-primary-500 via-tertiary-500 to-secondary-500;
}
